{% extends './block/layout.twig' %}

{% block page %}
<leaflet-map></leaflet-map>
<apex-chart></apex-chart>
<div id="map_tools">
  <input type="radio" id="move_map" name="tools" checked>
  <label class="tool" for="move_map"></label>
  <input type="radio" id="add" name="tools">
  <label class="tool" for="add"></label>
  <input type="radio" id="delete" name="tools">
  <label class="tool" for="delete"></label>
  <input type="radio" id="move" name="tools">
  <label class="tool" for="move"></label>
  <input type="radio" id="lasso" name="tools">
  <label class="tool" for="lasso"></label>
  <input type="radio" id="wand" name="tools">
  <label class="tool" for="wand"></label>
</div>
<div id="top-left">
  <img src="/img/map.png" alt="Logo Lifprojet">
  <span>L<span>ifprojet</span></span>
</div>
<div id="coordinates">
  <button type="button" name="undo" id="undo" disabled></button>
  <span id="lat"></span><span id="lng"></span>
  <button type="button" name="redo" id="redo" disabled></button>
</div>
<div id="bottom-left">
  <button type="button" name="import" id="import"></button>
  <button type="button" name="export" id="export"></button>
</div>
<import-module></import-module>
{% endblock %}
