<!DOCTYPE html>
<html lang='fr'>
  <head>
    <!--<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"/>-->
    <!--<link rel="stylesheet" href="https://unpkg.com/mapbox-gl@1.7.0/dist/mapbox-gl.css"/>-->
    <link rel="stylesheet" href="/leaflet.css"/>
    <link rel="manifest" href="/manifest.webmanifest">
    <meta charset='utf-8'/>
    <meta name="author" content="Guyonnet Amaury">
    <meta name="description" content="Plateforme de visualisation et d'édition d'itinéraires GPS.">
    <meta name="keywords" content="trace,GPS,GPX,itinéraire">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, shrink-to-fit=no'>
    <meta name="theme-color" content="#FFFFFF">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Lifprojet GPS">
    <link rel="apple-touch-icon" href="/img/map.png">
    <!--<link rel="apple-touch-startup-image" href="/img/launch.png">-->

    <link href="https://api.mapbox.com" rel="preconnect" crossorigin>
    <link rel='icon' type='image/png' href='/img/map.png'/>
		<title>Lifprojet GPS</title>
	</head>
	<body>
      <main>
        {% block page %}{% endblock %}
      </main>
	</body>
</html>
