<!DOCTYPE html>
<html lang='fr'>
  <head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"/>
    <!--<link rel="stylesheet" href="https://unpkg.com/mapbox-gl@1.7.0/dist/mapbox-gl.css"/>-->
    <meta charset='utf-8'/>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, shrink-to-fit=no'>
		<!--<link rel='icon' type='image/png' href=''/>-->
		<title>lifprojet</title>
	</head>
	<body>
      {% block page %}{% endblock %}
	</body>
</html>
