<div id="export_container">
  <span>Exportation</span>
  <span>Vous pouvez exporter votre trace GPS sous forme de fichier GPX :</span>
  <input type="radio" id="classic_method" name="method">
  <label class="method" for="classic_method">
    <span>Classique</span>
    <span>Configuration la plus basique possible</span>
  </label>
  <input type="radio" id="advanced_method" name="method" disabled>
  <label class="method" for="advanced_method">
    <span>Avancée</span>
    <span>Configuration avec des paramètres avancés</span>
  </label>
</div>
