import-module {
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  display: flex;
  align-items: center;
  display: none;
  z-index: 10000;
}

#progress-bar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) !important;
  width: 200px;
  height: 14px;
  border: 2px solid black;
  z-index: 10000;
  background: transparent;
  opacity: 1 !important;
  overflow: hidden;
  border-radius: 20px;
}

#progress-bar > div {
  width: 0;
  height: 100%;
  background: linear-gradient(to right, rgb(72, 29, 207), #1be6c0);
  transition: width .3s;
}

#import_container {
  //background: rgba(255,255,255,.8);
  width: 100%;
  max-width: 600px;
  max-height: 100%;
  margin: 0 auto;
}

#import_container > * {
  opacity: 0;
  transform: translateY(-40px);
  transition: opacity .5s ease-in-out, transform .5s ease-in-out;
}

#import_container span {
  display: block;
  text-align: center;
  font-family: "Helvetica";
  line-height: 30px;
}

#import_container span:first-child {
  font-size: 25px;
  color: black;
  margin-bottom: 10px;
}

#import_container span:nth-child(2) {
  font-size: 15px;
  color: black;
  margin-bottom: 30px;
}

#import_container input[type="radio"],
#import_container input[type="file"] {
  display: none;
}

#import_container label.method {
  display: flex;
  justify-content: center;
  position: relative;
  max-width: 300px;
  width: 100%;
  height: 80px;
  background: rgba(255,255,255,.75);
  border-radius: 4px;
  margin: 20px auto;
  border: 1px solid rgb(170,170,170);
  padding-left: 70px;
}

#import_container input:not(:checked) + label.method {
  cursor: pointer;
}

#import_container label.method::before {
  content: '';
  position: absolute;
  top: 30px;
  left: 25px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgba(170,170,170,0.2);
}

#import_container label.method::after {
  content: '';
  position: absolute;
  top: 25px;
  left: 20px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border: 2px solid rgba(170,170,170,0.2);
  background: transparent;
  transition: 0.5s ease-in-out;
}

#import_container label.method:hover::before {
  background-color: rgba(170,170,170,1);
}

#import_container input:checked + label.method::before {
  background-color: #008cd0;
}

#import_container label.method:hover::after {
  border: 2px solid rgba(170,170,170,1);
}

#import_container input:checked + label.method::after {
  border: 2px solid #0b4989;
}

#import_container label.method span {
  font-family: "Helvetica";
  font-size: 13px;
  text-align: left;
  line-height: 20px;
  margin: 10px 0;
}

#import_container label.method #link {
  width: calc(100% - 60px);
  height: 30px;
  padding: 5px;
  font-size: 15px;
  border-radius: 4px;
  background: transparent;
  border: none;
  outline: none;
  margin: auto;
}

#import_container label.method label[for="file"] {
  height: 30px;
  padding: 5px 8px;
  font-size: 15px;
  border-radius: 4px;
  background: transparent;
  border: 1px dashed rgba(170,170,170,0.75);
  margin: auto;
  line-height: 30px;
  font-family: "Helvetica";
  margin-left: 0;
  cursor: pointer;
}

#import_container label.method input:disabled + label[for="file"] {
  opacity: 0.5;
}

#import_container label.method .send {
  display: block;
  position: relative;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border-radius: 50%;
  border: none;
  margin: auto 20px;
  cursor: pointer;
}

#import_container label.method .send::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background: rgba(170,170,170,0.4);
  mask-image: url("/img/send.png");
  -webkit-mask-image: url("/img/send.png");
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-size: 15px;
  -webkit-mask-size: 15px;
  mask-position: center;
  -webkit-mask-position: center;
}

#import_container input:checked + label.method .send:hover::before {
  background: #008cd0;
}
