body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  //min-height: 100vh;
}

#top-left {
  display: flex;
  position: absolute;
  top: 40px;
  left: 40px;
  z-index: 10000;
}

#top-left img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

#top-left span {
  font-family: 'Helvetica';
  font-size: 17px;
  line-height: 40px;
  text-transform: uppercase;
}

#top-left span > span {
  font-size: 14px;
}

#coordinates {
  display: flex;
  //flex-direction: column;
  position: absolute;
  top: 40px;
  //left: 40px;
  left: 50%;
  z-index: 10000;
  transform: translateX(-50%);
}

#coordinates span {
  position: relative;
  background: rgba(255,255,255,1);
  border: 1px solid rgba(203,204,205,1);
  padding: 8px;
  //padding-left: 58px;
  border-radius: 5px;
  font-family: 'Courier';
  font-size: 14px;
  //margin-bottom: 10px;
  min-width: 160px;
  height: 20px;
  overflow: hidden;
  line-height: 20px;
  margin-left: 10px;
}

/*#coordinates span::before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;
  background: rgba(240,240,240,1);
  border-right: 1px solid rgba(203,204,205,1);
  font-family: 'Helvetica';
  font-size: 14px;
  color: rgba(150,150,150,1);
  line-height: 35px;
  text-indent: 10px;
}

#coordinates span#lat::before {
  content: 'LAT';
}

#coordinates span#lng::before {
  content: 'LNG';
}*/

#bottom-left {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 10000;
}

#bottom-left button,
#coordinates button {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background: white;
  border: 1px solid rgba(203,204,205,1);
  cursor: pointer;
  font-family: 'Helvetica';
  font-size: 13px;
  //padding-left: 35px;
  line-height: 33px;
}

#coordinates button[disabled] {
  opacity: 0.5;
}

#bottom-left button:not(:last-child) {
  margin-bottom: 10px;
}

#bottom-left button::before,
#coordinates button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  background-color: rgba(62,62,62,1);
  mask-size: 20px;
  -webkit-mask-size: 20px;
  mask-position: center;
  -webkit-mask-position: center;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
}

#coordinates button#undo,
#coordinates button#redo {
  border-radius: 50%;
}

#coordinates button#undo::before,
#coordinates button#redo::before {
  mask-image: url("/img/undo.png");
  -webkit-mask-image: url("/img/undo.png");
  mask-position: 9px center;
  -webkit-mask-position: 9px center;
}

#coordinates button#redo {
  margin-left: 10px;
}

#coordinates button#redo::before {
  transform: scale(-1, 1);
}

#bottom-left button#import::before {
  mask-image: url("/img/document.png");
  -webkit-mask-image: url("/img/document.png");
}

#bottom-left button#export::before {
  mask-image: url("/img/download.png");
  -webkit-mask-image: url("/img/download.png");
}

#map_tools {
  display: flex;
  position: absolute;
  top: 40px;
  right: 40px;
  z-index: 10000;
}

#map_tools input[type="radio"] {
  display: none;
}

#map_tools .tool {
  position: relative;
  width: 36px;
  height: 36px;
  border-radius: 5px;
  background: white;
  border: 1px solid rgba(203,204,205,1);
  cursor: pointer;
}

#map_tools .tool:not(:last-child) {
  margin-right: 10px;
}

#map_tools .tool::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 36px;
  height: 36px;
  background-color: rgba(62,62,62,.5);
  mask-size: 20px;
  -webkit-mask-size: 20px;
  mask-position: center;
  -webkit-mask-position: center;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
}

#map_tools .tool:hover::before,
#map_tools input:checked + .tool::before {
  background-color: rgba(62,62,62,1);
}

#map_tools .tool[for="move_map"]::before {
  mask-image: url("/img/move2.png");
  -webkit-mask-image: url("/img/move2.png");
}

#map_tools .tool[for="apropo"]::before {
  mask-image: url("/img/apropo.png");
  -webkit-mask-image: url("/img/apropo.png");
}

#map_tools .tool[for="add"]::before {
  mask-image: url("/img/add.png");
  -webkit-mask-image: url("/img/add.png");
}

#map_tools .tool[for="delete"]::before {
  mask-image: url("/img/delete.png");
  -webkit-mask-image: url("/img/delete.png");
}

#map_tools .tool[for="move"]::before {
  mask-image: url("/img/move.png");
  -webkit-mask-image: url("/img/move.png");
}

#map_tools .tool[for="lasso"]::before {
  mask-image: url("/img/lasso.png");
  -webkit-mask-image: url("/img/lasso.png");
}
