body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  //min-height: 100vh;
}

button {
  outline: none;
}

#top-left {
  display: flex;
  position: absolute;
  top: 40px;
  left: 40px;
  z-index: 10000;
}

#top-left img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

#top-left span {
  font-family: 'Helvetica';
  font-size: 17px;
  line-height: 40px;
  text-transform: uppercase;
}

#top-left span > span {
  font-size: 14px;
}

#coordinates {
  display: flex;
  //flex-direction: column;
  position: absolute;
  top: 40px;
  //left: 40px;
  left: 50%;
  z-index: 10000;
  transform: translateX(-50%);
}

#coordinates span {
  position: relative;
  background: rgba(255,255,255,1);
  border: 1px solid rgba(203,204,205,1);
  padding: 8px;
  //padding-left: 58px;
  border-radius: 5px;
  font-family: 'Courier';
  font-size: 14px;
  //margin-bottom: 10px;
  min-width: 160px;
  height: 20px;
  overflow: hidden;
  line-height: 20px;
  margin-left: 10px;
  display: none;
}

/*#coordinates span::before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;
  background: rgba(240,240,240,1);
  border-right: 1px solid rgba(203,204,205,1);
  font-family: 'Helvetica';
  font-size: 14px;
  color: rgba(150,150,150,1);
  line-height: 35px;
  text-indent: 10px;
}

#coordinates span#lat::before {
  content: 'LAT';
}

#coordinates span#lng::before {
  content: 'LNG';
}*/

#buttonss {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100px;
  left: 20px;
  z-index: 10000;
}

#buttonss button,
#coordinates button {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background: white;
  border: 1px solid rgba(203,204,205,1);
  cursor: pointer;
  font-family: 'Helvetica';
  font-size: 13px;
  //padding-left: 35px;
  line-height: 33px;
}

#coordinates button[disabled] {
  opacity: 0.5;
}

#buttonss button:not(:last-child) {
  margin-bottom: 10px;
}

#buttonss button::before,
#coordinates button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  background-color: rgba(62,62,62,1);
  mask-size: 20px;
  -webkit-mask-size: 20px;
  mask-position: center;
  -webkit-mask-position: center;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
}

#coordinates button#undo,
#coordinates button#redo,
#coordinates button#zoomin,
#coordinates button#zoomout,
#coordinates button#compass,
#coordinates button#localization {
  border-radius: 50%;
}

#coordinates button#zoomin::before,
#coordinates button#zoomout::before {
  mask-size: 15px;
  -webkit-mask-size: 15px;
}

#coordinates button#undo::before,
#coordinates button#redo::before {
  mask-image: url("/img/undo.png");
  -webkit-mask-image: url("/img/undo.png");
  mask-position: 9px center;
  -webkit-mask-position: 9px center;
}

/*#coordinates button#redo {
  margin-left: 10px;
}*/

#coordinates button {
  margin: 0 5px;
}

#coordinates button#redo::before {
  transform: scale(-1, 1);
}

#coordinates button#zoomin::before {
  mask-image: url("/img/plus.png");
  -webkit-mask-image: url("/img/plus.png");
}

#coordinates button#zoomout::before {
  mask-image: url("/img/minus.png");
  -webkit-mask-image: url("/img/minus.png");
}

#coordinates button#compass::before {
  mask-image: url("/img/compass.png");
  -webkit-mask-image: url("/img/compass.png");
}

#coordinates button#localization::before {
  mask-image: url("/img/radar.png");
  -webkit-mask-image: url("/img/radar.png");
}

#buttonss button#import::before {
  mask-image: url("/img/document.png");
  -webkit-mask-image: url("/img/document.png");
}

#buttonss button#export::before {
  mask-image: url("/img/download.png");
  -webkit-mask-image: url("/img/download.png");
}

#map_tools {
  display: flex;
  position: absolute;
  top: 40px;
  right: 40px;
  z-index: 10000;
}

#map_tools #help {
  position: relative;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border: 1px solid;
  margin: 7px 15px 7px 0;
  background: none;
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
}

#map_tools #help:hover {
  opacity: 1;
}

#map_tools #help::before {
  content: '';
  display: block;
  position: absolute;
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  background: black;
  mask-image: url("/img/question.png");
  -webkit-mask-image: url("/img/question.png");
  mask-size: 20px;
  -webkit-mask-size: 20px;
  mask-position: center;
  -webkit-mask-position: center;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
}

#map_tools input[type="radio"] {
  display: none;
}

#map_tools .tool {
  position: relative;
  width: 36px;
  height: 36px;
  border-radius: 5px;
  background: white;
  border: 1px solid #6b6d6f;
  border-radius: 50%;
  cursor: pointer;
}

#map_tools .tool .tooltip {
  position: absolute;
  top: 66px;
  left: 50%;
  height: 26px;
  background: white;
  border: 1px solid rgb(170,170,170);
  transform: translate(-50%,-50%);
  line-height: 26px;
  padding: 3px 5px;
  border-radius: 4px;
  font-family: "Helvetica";
  font-size: 12px;
  letter-spacing: 0.04em;
  opacity: 0;
  transition: opacity .5s linear;
}

#map_tools .tool .tooltip::before {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 100%;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-bottom-color: rgb(170,170,170);
  opacity: 0;
  transition: opacity .3s linear;
}

#map_tools .tool .tooltip::after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 100%;
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-bottom-color: white;
  opacity: 0;
  transition: opacity .3s linear;
}

#map_tools .tool .tooltip.hover,
#map_tools .tool .tooltip.hover::before,
#map_tools .tool .tooltip.hover::after {
  opacity: 1;
}

#map_tools .tool:not(:last-child) {
  margin-right: 10px;
}

#map_tools input:checked + .tool::after {
  content: '';
  position: absolute;
  top: -4px;
  left: -4px;
  width: 42px;
  height: 42px;
  background-color: transparent;
  border: 1px solid #6b6d6f;
  border-radius: 50%;
}

#map_tools .tool::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 36px;
  height: 36px;
  background-color: rgba(62,62,62,.5);
  mask-size: 18px;
  -webkit-mask-size: 18px;
  mask-position: center;
  -webkit-mask-position: center;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  transition: -webkit-mask-size .1s ease-in-out, mask-size .1s ease-in-out;
}

#map_tools input:checked + .tool::before {
  mask-size: 21px;
  -webkit-mask-size: 21px;
}

#map_tools .tool:hover::before,
#map_tools input:checked + .tool::before {
  //background-color: rgba(62,62,62,1);
  background: linear-gradient(to right, #0043c4, #00dde9);
}

#map_tools .tool[for="move_map"]::before,
#help_container #help-flex #text-content label[for="help_move_map"]::before {
  mask-image: url("/img/move2.png");
  -webkit-mask-image: url("/img/move2.png");
}

#map_tools .tool[for="add"]::before,
#help_container #help-flex #text-content label[for="help_add"]::before {
  mask-image: url("/img/add.png");
  -webkit-mask-image: url("/img/add.png");
}

#map_tools .tool[for="delete"]::before,
#help_container #help-flex #text-content label[for="help_delete"]::before {
  mask-image: url("/img/delete.png");
  -webkit-mask-image: url("/img/delete.png");
}

#map_tools .tool[for="move"]::before,
#help_container #help-flex #text-content label[for="help_move"]::before {
  mask-image: url("/img/move.png");
  -webkit-mask-image: url("/img/move.png");
}

#map_tools .tool[for="lasso"]::before,
#help_container #help-flex #text-content label[for="help_lasso"]::before {
  mask-image: url("/img/lasso.png");
  -webkit-mask-image: url("/img/lasso.png");
}

#map_tools .tool[for="wand"]::before,
#help_container #help-flex #text-content label[for="help_wand"]::before {
  mask-image: url("/img/wand.png");
  -webkit-mask-image: url("/img/wand.png");
}

#map_tools .tool[for="cut"]::before,
#help_container #help-flex #text-content label[for="help_cut"]::before {
  mask-image: url("/img/cut.png");
  -webkit-mask-image: url("/img/cut.png");
}

#map_tools .tool[for="erase"]::before,
#help_container #help-flex #text-content label[for="help_erase"]::before {
  mask-image: url("/img/trash.png");
  -webkit-mask-image: url("/img/trash.png");
}

#tolerance-container {
  position: absolute;
  top: 100px;
  right: 40px;
  z-index: 10000;
  width: 250px;
  //background: white;
  display: flex;
  flex-direction: column;
  //border: 1px solid rgb(170,170,170);
  //border-radius: 4px;
}

#tolerance-container > div:first-of-type,
#tolerance-container > div:nth-of-type(2) {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  //border-top: 1px solid rgb(170,170,170);
}

/*#tolerance-container > div:first-of-type::before {
  content: "";
  position: absolute;
  top: 17px;
  left: 117px;
  width: 16px;
  height: 16px;
  background: black;
  mask-image: url("/img/arrow.png");
  -webkit-mask-image: url("/img/arrow.png");
  mask-size: 16px;
  -webkit-mask-size: 16px;
  mask-position: center;
  -webkit-mask-position: center;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
}*/

#tolerance-container > div:first-of-type span {
  width: 50%;
  height: 100%;
  font-family: "Helvetica";
  font-size: 12px;
  line-height: 50px;
  text-align: center;
}

#tolerance-container > div:nth-of-type(2) button {
  width: 50%;
  margin: 0 20px;
  height: 34px;
  font-family: "Helvetica";
  font-size: 12px;
  line-height: 30px;
  text-align: center;
  border: 1px solid #aaaaaa;
  background: rgb(250,250,250);
  border-radius: 3px;
}

/*#tolerance-container > div:nth-of-type(2) button:last-child {
  border-left: 1px solid rgb(170,170,170);
}*/

#tolerance {
  //position: absolute;
  //top: 100px;
  //right: 40px;
  //transform: translate(-50%, 50%);
  z-index: 10000;
  outline: 0;
  border: 0;
  width: 200px;
  height: 20px;
  //overflow: hidden;
  -webkit-appearance: none;
  background-color: transparent;
  //border-radius: 20px;
  margin: 20px auto;
}

#tolerance::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 6px;
  background-color: rgba(245,245,245,1);
  border-radius: 10px;
  box-shadow: 0 0 5px 0 rgba(200,200,200,0.8);
  border: 1px solid rgba(200,200,200,1);
  //overflow: hidden;
}

#tolerance::-moz-range-track {
  -webkit-appearance: none;
  height: 6px;
  background-color: rgba(245,245,245,1);
  border-radius: 10px;
  box-shadow: 0 0 5px 0 rgba(200,200,200,0.8);
  border: 1px solid rgba(200,200,200,1);
  //overflow: hidden;
}

#tolerance::-webkit-slider-thumb {
  width: 17px;
  height: 17px;
  margin: -7px 0;
  background-color: white;
  border: 1px solid rgba(200,200,200,.8);
  box-shadow: 0 0 10px 0 rgba(170,170,170,0.5);
  //box-shadow: -200px 0 0 calc(200px - 0px) #3379FF;
  position: relative;
  -webkit-appearance: none;
  border-radius: 50%;
}

#tolerance::-moz-range-thumb {
  width: 17px;
  height: 17px;
  margin: -7px 0;
  background-color: white;
  border: 1px solid rgba(200,200,200,.8);
  box-shadow: 0 0 10px 0 rgba(170,170,170,0.5);
  //box-shadow: -200px 0 0 calc(200px - 0px) #3379FF;
  position: relative;
  -webkit-appearance: none;
  border-radius: 50%;
}

#tolerance::-moz-focus-outer {
  border: 0;
}

#tolerance:active::-webkit-slider-thumb {
  box-shadow: 0 0 10px 0 rgba(170,170,170,0.8);
}

#tolerance:active::-moz-range-thumb {
  box-shadow: 0 0 10px 0 rgba(170,170,170,0.8);
}

#bottom-left {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: rgba(255,255,255,1);
  width: 250px;
  //height: 270px;
  border: 1px solid rgb(170,170,170);
  border-radius: 5px;
  z-index: 10000;
  display: flex;
  flex-direction: column;
}

#bottom-left input[type="checkbox"] {
  display: none;
}

#bottom-left label[for="hide_details"] {
  width: 30px;
  height: 5px;
  border-radius: 50px;
  background: rgb(210,210,210);
  border: none;
  margin: 5px auto;
  cursor: pointer;
}

#bottom-left label[for="hide_details"]:hover {
  background: rgb(190,190,190);
}

#bottom-left > div {
  display: flex;
  overflow: hidden;
}

#bottom-left input:not(:checked) ~ div:nth-of-type(2),
#bottom-left input:not(:checked) ~ div:nth-of-type(3),
#bottom-left input:not(:checked) ~ div:nth-of-type(4) {
  height: 0;
  border-bottom: 1px solid transparent;
}

#bottom-left > div:not(:last-child) {
  border-bottom: 1px solid rgb(170,170,170);
  height: 70px;
  transition: height 0.5s ease-in-out, border 0.1s ease-in-out;
}

#bottom-left > div:nth-of-type(2) {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("/img/compass.png");
  background-repeat: no-repeat;
  background-size: 17px;
  background-position: center;
}

#bottom-left input:not(:checked) ~ div:nth-of-type(2) {
  background-image: none;
}

#bottom-left input:not(:checked) ~ div:nth-of-type(2) button {
  opacity: 0;
}

#bottom-left > div:nth-of-type(2) button {
  width: calc(50% - 40px);
  height: 30px;
  padding: 0 8px;
  border-radius: 3px;
  border: 1px solid rgb(200,200,200);
  background-color: rgb(250,250,250);
  line-height: 30px;
  font-size: 13px;
  font-family: "Helvetica";
  text-align: center;
  overflow: hidden;
  letter-spacing: 0.07em;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#bottom-left > div:nth-of-type(2) button:first-child {
  margin-right: 40px;
}

#bottom-left > div:last-child {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#bottom-left > div > div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#bottom-left > div > div:not(:last-child) {
  border-right: 1px solid rgb(170,170,170);
}

#bottom-left input:not(:checked) ~ div > div span {
  opacity: 0;
}

#bottom-left > div > div span {
  font-family: "Helvetica";
  line-height: 20px;
  transition: opacity 0.5s ease-in-out;
}

#bottom-left > div > div span:first-child {
  font-size: 20px;
  margin-top: 5px;
}

#bottom-left > div:nth-of-type(4) > div span:first-child {
  font-size: 16px;
}

#bottom-left > div > div span:nth-child(2) {
  font-size: 10px;
  color: rgb(90,90,90);
  text-transform: uppercase;
}

#bottom-left div:last-child button {
  position: relative;
  width: calc(50% - 30px);
  height: 30px;
  padding-left: 20px;
  //margin: auto;
  border-radius: 3px;
  border: 1px solid rgb(170,170,170);
  background: rgb(250,250,250);
  cursor: pointer;
}

#bottom-left div:last-child button:first-child {
  margin-right: 20px;
}

#bottom-left div:last-child button:hover,
#bottom-left #lat:hover,
#bottom-left #lng:hover {
  background: rgb(240,240,240);
}

#bottom-left div:last-child button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  background-color: rgb(0,0,0);
  mask-image: url("/img/download.png");
  -webkit-mask-image: url("/img/download.png");
  mask-size: 16px;
  -webkit-mask-size: 16px;
  mask-position: center;
  -webkit-mask-position: center;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
}

#bottom-left div:last-child button#export::before {
  transform: scale(1,-1);
}

#bottom-left #moy.highlight,
#bottom-left #lat.highlight,
#bottom-left #lng.highlight {
  color: #3379FF;
}

#bottom-right {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 270px;
  height: 36px;
  border-radius: 36px;
  background: rgba(255,255,255,0.5);
  //border: 1px solid rgb(170,170,170);
  padding: 0 15px;
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(270deg) translate(125px, 125px);
}

label[for="zoom"] {
  //display: none;
  width: 200px;
  height: 20px;
  margin: 0 10px;
}

#zoom {
  position: relative;
  outline: 0;
  border: 0;
  width: 200px;
  height: 20px;
  //overflow: hidden;
  -webkit-appearance: none;
  background-color: transparent;
  //border-radius: 20px;
  //margin: 0 10px;
  margin: 0;
}

#zoom::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 6px;
  //background-color: rgba(245,245,245,1);
  border-radius: 10px;
  box-shadow: 0 0 5px 0 rgba(200,200,200,0.8);
  border: 1px solid rgba(200,200,200,1);
  //overflow: hidden;
}

#zoom::-moz-range-track {
  -webkit-appearance: none;
  height: 6px;
  //background-color: rgba(245,245,245,1);
  border-radius: 10px;
  box-shadow: 0 0 5px 0 rgba(200,200,200,0.8);
  border: 1px solid rgba(200,200,200,1);
  //overflow: hidden;
}

#zoom::-moz-focus-outer {
  border: 0;
}

#zoom.level-18::-webkit-slider-runnable-track {
  background: linear-gradient(to left, rgb(245,245,245) 0%, rgb(245,245,245) 0%, #00c6fb 0%, #005bea 100%);
}

#zoom.level-18::-moz-range-track {
  background: linear-gradient(to left, rgb(245,245,245) 0%, rgb(245,245,245) 0%, #00c6fb 0%, #005bea 100%);
}

#zoom.level-17::-webkit-slider-runnable-track {
  background: linear-gradient(to left, rgb(245,245,245) 0%, rgb(245,245,245) 5.55%, #00c6fb 5.55%, #005bea 100%);
}

#zoom.level-17::-moz-range-track {
  background: linear-gradient(to left, rgb(245,245,245) 0%, rgb(245,245,245) 5.55%, #00c6fb 5.55%, #005bea 100%);
}

#zoom.level-16::-webkit-slider-runnable-track {
  background: linear-gradient(to left, rgb(245,245,245) 0%, rgb(245,245,245) 11.1%, #00c6fb 11.1%, #005bea 100%);
}

#zoom.level-16::-moz-range-track {
  background: linear-gradient(to left, rgb(245,245,245) 0%, rgb(245,245,245) 11.1%, #00c6fb 11.1%, #005bea 100%);
}

#zoom.level-15::-webkit-slider-runnable-track {
  background: linear-gradient(to left, rgb(245,245,245) 0%, rgb(245,245,245) 16.65%, #00c6fb 16.65%, #005bea 100%);
}

#zoom.level-15::-moz-range-track {
  background: linear-gradient(to left, rgb(245,245,245) 0%, rgb(245,245,245) 16.65%, #00c6fb 16.65%, #005bea 100%);
}

#zoom.level-14::-webkit-slider-runnable-track {
  background: linear-gradient(to left, rgb(245,245,245) 0%, rgb(245,245,245) 22.2%, #00c6fb 22.2%, #005bea 100%);
}

#zoom.level-14::-moz-range-track {
  background: linear-gradient(to left, rgb(245,245,245) 0%, rgb(245,245,245) 22.2%, #00c6fb 22.2%, #005bea 100%);
}

#zoom.level-13::-webkit-slider-runnable-track {
  background: linear-gradient(to left, rgb(245,245,245) 0%, rgb(245,245,245) 27.75%, #00c6fb 27.75%, #005bea 100%);
}

#zoom.level-13::-moz-range-track {
  background: linear-gradient(to left, rgb(245,245,245) 0%, rgb(245,245,245) 27.75%, #00c6fb 27.75%, #005bea 100%);
}

#zoom.level-12::-webkit-slider-runnable-track {
  background: linear-gradient(to left, rgb(245,245,245) 0%, rgb(245,245,245) 33.3%, #00c6fb 33.3%, #005bea 100%);
}

#zoom.level-12::-moz-range-track {
  background: linear-gradient(to left, rgb(245,245,245) 0%, rgb(245,245,245) 33.3%, #00c6fb 33.3%, #005bea 100%);
}

#zoom.level-11::-webkit-slider-runnable-track {
  background: linear-gradient(to left, rgb(245,245,245) 0%, rgb(245,245,245) 38.85%, #00c6fb 38.85%, #005bea 100%);
}

#zoom.level-11::-moz-range-track {
  background: linear-gradient(to left, rgb(245,245,245) 0%, rgb(245,245,245) 38.85%, #00c6fb 38.85%, #005bea 100%);
}

#zoom.level-10::-webkit-slider-runnable-track {
  background: linear-gradient(to left, rgb(245,245,245) 0%, rgb(245,245,245) 44.4%, #00c6fb 44.4%, #005bea 100%);
}

#zoom.level-10::-moz-range-track {
  background: linear-gradient(to left, rgb(245,245,245) 0%, rgb(245,245,245) 44.4%, #00c6fb 44.4%, #005bea 100%);
}

#zoom.level-9::-webkit-slider-runnable-track {
  background: linear-gradient(to left, rgb(245,245,245) 0%, rgb(245,245,245) 49.95%, #00c6fb 49.95%, #005bea 100%);
}

#zoom.level-9::-moz-range-track {
  background: linear-gradient(to left, rgb(245,245,245) 0%, rgb(245,245,245) 49.95%, #00c6fb 49.95%, #005bea 100%);
}

#zoom.level-8::-webkit-slider-runnable-track {
  background: linear-gradient(to left, rgb(245,245,245) 0%, rgb(245,245,245) 55.5%, #00c6fb 55.5%, #005bea 100%);
}

#zoom.level-8::-moz-range-track {
  background: linear-gradient(to left, rgb(245,245,245) 0%, rgb(245,245,245) 55.5%, #00c6fb 55.5%, #005bea 100%);
}

#zoom.level-7::-webkit-slider-runnable-track {
  background: linear-gradient(to left, rgb(245,245,245) 0%, rgb(245,245,245) 61.05%, #00c6fb 61.05%, #005bea 100%);
}

#zoom.level-7::-moz-range-track {
  background: linear-gradient(to left, rgb(245,245,245) 0%, rgb(245,245,245) 61.05%, #00c6fb 61.05%, #005bea 100%);
}

#zoom.level-6::-webkit-slider-runnable-track {
  background: linear-gradient(to left, rgb(245,245,245) 0%, rgb(245,245,245) 66.6%, #00c6fb 66.6%, #005bea 100%);
}

#zoom.level-6::-moz-range-track {
  background: linear-gradient(to left, rgb(245,245,245) 0%, rgb(245,245,245) 66.6%, #00c6fb 66.6%, #005bea 100%);
}

#zoom.level-5::-webkit-slider-runnable-track {
  background: linear-gradient(to left, rgb(245,245,245) 0%, rgb(245,245,245) 72.15%, #00c6fb 72.15%, #005bea 100%);
}

#zoom.level-5::-moz-range-track {
  background: linear-gradient(to left, rgb(245,245,245) 0%, rgb(245,245,245) 72.15%, #00c6fb 72.15%, #005bea 100%);
}

#zoom.level-4::-webkit-slider-runnable-track {
  background: linear-gradient(to left, rgb(245,245,245) 0%, rgb(245,245,245) 77.7%, #00c6fb 77.7%, #005bea 100%);
}

#zoom.level-4::-moz-range-track {
  background: linear-gradient(to left, rgb(245,245,245) 0%, rgb(245,245,245) 77.7%, #00c6fb 77.7%, #005bea 100%);
}

#zoom.level-3::-webkit-slider-runnable-track {
  background: linear-gradient(to left, rgb(245,245,245) 0%, rgb(245,245,245) 83.25%, #00c6fb 83.25%, #005bea 100%);
}

#zoom.level-3::-moz-range-track {
  background: linear-gradient(to left, rgb(245,245,245) 0%, rgb(245,245,245) 83.25%, #00c6fb 83.25%, #005bea 100%);
}

#zoom.level-2::-webkit-slider-runnable-track {
  background: linear-gradient(to left, rgb(245,245,245) 0%, rgb(245,245,245) 88.8%, #00c6fb 88.8%, #005bea 100%);
}

#zoom.level-2::-moz-range-track {
  background: linear-gradient(to left, rgb(245,245,245) 0%, rgb(245,245,245) 88.8%, #00c6fb 88.8%, #005bea 100%);
}

#zoom.level-1::-webkit-slider-runnable-track {
  background: linear-gradient(to left, rgb(245,245,245) 0%, rgb(245,245,245) 94.35%, #00c6fb 94.35%, #005bea 100%);
}

#zoom.level-1::-moz-range-track {
  background: linear-gradient(to left, rgb(245,245,245) 0%, rgb(245,245,245) 94.35%, #00c6fb 94.35%, #005bea 100%);
}

#zoom.level-0::-webkit-slider-runnable-track {
  background: linear-gradient(to left, rgb(245,245,245) 0%, rgb(245,245,245) 100%, #00c6fb 100%, #005bea 100%);
}

#zoom.level-0::-moz-range-track {
  background: linear-gradient(to left, rgb(245,245,245) 0%, rgb(245,245,245) 100%, #00c6fb 100%, #005bea 100%);
}

#zoom::-webkit-slider-thumb {
  width: 17px;
  height: 17px;
  margin: -7px 0;
  background-color: white;
  border: 1px solid rgba(200,200,200,.8);
  box-shadow: 0 0 10px 0 rgba(170,170,170,0.5);
  //box-shadow: -200px 0 0 calc(200px - 0px) #3379FF;
  position: relative;
  -webkit-appearance: none;
  border-radius: 50%;
}

#zoom::-moz-range-thumb {
  width: 17px;
  height: 17px;
  margin: -7px 0;
  background-color: white;
  border: 1px solid rgba(200,200,200,.8);
  box-shadow: 0 0 10px 0 rgba(170,170,170,0.5);
  //box-shadow: -200px 0 0 calc(200px - 0px) #3379FF;
  position: relative;
  -webkit-appearance: none;
  border-radius: 50%;
}

#zoom:active::-webkit-slider-thumb {
  box-shadow: 0 0 10px 0 rgba(170,170,170,0.8);
}

#zoom:active::-moz-range-thumb {
  box-shadow: 0 0 10px 0 rgba(170,170,170,0.8);
}

#bottom-right button {
  position: relative;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: white;
  border: 1px solid rgba(203,204,205,1);
  cursor: pointer;
  transform: rotate(90deg);
}

#bottom-right button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  background-color: rgba(100,100,100,1);
  mask-size: 8px;
  -webkit-mask-size: 8px;
  mask-position: 7px 8px;
  -webkit-mask-position: 7px 8px;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
}

#bottom-right button#zoomin::before {
  mask-image: url("/img/plus.png");
  -webkit-mask-image: url("/img/plus.png");
}

#bottom-right button#zoomout::before {
  mask-image: url("/img/minus.png");
  -webkit-mask-image: url("/img/minus.png");
}

#progress-bar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) !important;
  width: 200px;
  height: 14px;
  border: 2px solid black;
  z-index: 10000;
  background: transparent;
  opacity: 1 !important;
  overflow: hidden;
  border-radius: 20px;
}

#progress-bar > div {
  width: 0;
  height: 100%;
  background: linear-gradient(to right, rgb(72, 29, 207), #1be6c0);
  transition: width .3s;
}

#export_container #progress-bar > div {
  transition: width 1s ease-in-out !important;
}

#help_container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  display: flex;
  justify-content: center;
  align-items: center;
  //display: none;
}

#help_container #help-flex {
  display: flex;
}

#help_container #help-flex #text-content {
  display: flex;
  flex-direction: column;
  align-self: center;
}

#help_container #help-flex #text-content input[type="radio"] {
  display: none;
}

#help_container #help-flex #text-content input:checked + label {
  //height: 160px;
  height: var(--height);
}

#help_container #help-flex #text-content input:not(:checked) + label span:nth-child(2) {
  opacity: 0;
  transition: opacity 0.2s;
  transition-delay: 0s !important;
}

#help_container #help-flex #text-content input:checked + label span:nth-child(2) {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  transition-delay: 0.5s !important;
}

#help_container.blur label {
  filter: blur(5px) !important;
  -webkit-filter: blur(5px) !important;
}

#help_container #help-flex #text-content label {
  position: relative;
  width: 300px;
  height: 40px;
  background: rgba(255,255,255,.5);
  border: 1px solid rgb(170,170,170);
  border-radius: 4px;
  overflow: hidden;
  cursor: pointer;
  opacity: 0;
  transform: translateY(-70px);
  transition: height 0.5s ease-in-out, filter 0.5s ease-in-out, opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

#help_container #help-flex #text-content label:not(:last-child) {
  margin-bottom: 20px;
}

#help_container #help-flex #text-content label::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  background-color: rgb(0,0,0);
  mask-size: 16px;
  -webkit-mask-size: 16px;
  mask-position: center;
  -webkit-mask-position: center;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
}

#help_container #help-flex #text-content label::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  background-color: rgb(0,0,0);
  mask-image: url("/img/chevron.png");
  -webkit-mask-image: url("/img/chevron.png");
  mask-size: 16px;
  -webkit-mask-size: 16px;
  mask-position: center;
  -webkit-mask-position: center;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  transition: transform 0.3s ease-in-out;
}

#help_container #help-flex #text-content input:checked + label::after {
  transform: rotate(180deg);
}


/*#help_container #help-flex #text-content input:checked + label::after {
  content: '';
  position: absolute;
  top: -4px;
  left: -4px;
  width: 256px;
  height: calc(100% + 6px);
  border: 1px solid rgb(170,170,170);
  border-radius: 5px;
}*/

#help_container #help-flex #text-content label span:first-child {
  display: block;
  line-height: 40px;
  font-family: "Helvetica";
  font-size: 13px;
  text-indent: 40px;
}

#help_container #help-flex #text-content label span:nth-child(2) {
  display: block;
  line-height: 24px;
  font-family: "Helvetica";
  font-size: 13px;
  margin: 0 10px 10px 10px;
  padding-top: 10px;
  border-top: 1px solid rgb(170,170,170);
  opacity: 0;
}

#help_container #help-flex #gif-content {
  width: 330px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#help_container #help-flex #gif-content img {
  width: 270px;
  border: 1px solid rgb(170,170,170);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  //display: none;
}

#help_container #help-flex #gif-content img.centered {
  //transform: translate(calc(-50% - 15px), 0%);
  width: 500px;
  position: absolute;
  top: calc(50% - 250px);
  left: calc(50% - 250px);
}

/*body > *:not(import-module, notification-module, export-module) {
  transition: filter .5s ease-in-out !important;
}

body.blur > *:not(import-module, notification-module, export-module) {
  filter: blur(5px) !important;
  -webkit-filter: blur(5px) !important;
}*/

body.blur #map,
body #top-left,
body #coordinates,
body #map_tools,
body #bottom-right,
body #bottom-left {
  transition: filter .5s ease-in-out !important;
}

body.blur #map,
body.blur #top-left,
body.blur #coordinates,
body.blur #map_tools,
body.blur #bottom-right,
body.blur #bottom-left {
  filter: blur(5px) !important;
  -webkit-filter: blur(5px) !important;
}

body.wand_mode #coordinates,
body.wand_mode #map_tools label[for="move_map"],
body.wand_mode #map_tools label[for="add"],
body.wand_mode #map_tools label[for="delete"],
body.wand_mode #map_tools label[for="move"],
body.wand_mode #map_tools label[for="lasso"],
body.wand_mode #map_tools label[for="cut"],
body.wand_mode .leaflet-control-container,
body.wand_mode .leaflet-map-pane .leaflet-tile-pane {
  transition: 0.5s ease-in-out;
  filter: blur(5px);
}
