//@import '~leaflet/dist/leaflet.css';

.leaflet-container.add-cursor {
  cursor: cell;
}

.leaflet-container.grabbing-cursor {
  cursor: grabbing;
}

.leaflet-interactive.grab-cursor {
  //cursor: url(/img/move.png) 10 10, pointer !important;
  cursor: grab;
}

.leaflet-interactive.delete-cursor {
  cursor: not-allowed;
}

.map-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
}

.map-frame {
  height: 100%;
}

leaflet-map {
  user-select: none;
  -webkit-user-select: none;
}

#map {
  height: 100%;
}
